@import "config";

* {
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $text-color;
  margin: 0;

}

#wrapper {
  display: flex;
  flex-direction: row;

  #left {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    font-family: $font-normal;
    justify-content: center;
    align-items: center;

    #logo > img{
      width: 30vh;
    }

    #login-form {
      font-size: .9rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      padding: 1.5rem;
    }

    #login-form > form {
      display: flex;
      flex-direction: column;
      width: 80%;

      label {
        margin-bottom: .3rem;
      }

      .text-input {
        margin-bottom: 1.3rem;
        background: $bg-color;
        border: 1px solid $text-color;
        border-radius: 2px;
        line-height: 1.3rem;
        color: $text-color;
        padding: .5rem 1rem;
      }
    }

    #extra-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1.5rem 0;
      
      a {
        text-decoration: none;
        font-size: .9rem;
        color: $text-color;
        padding: .5rem;
      }
    }

    #or {
      display: flex;
      flex-direction: row;
      margin-bottom: 1.2rem;
      align-items: center;
      width: 60%;

      .bar {
        flex: auto;
        border: none;
        height: 1px;
        background: #aaa;
      }

      span {
        color: #ccc;
        padding: 0 0.8rem;
      }
    }

    .secondary-btn {
      width: 60%;
    }

    #login-footer {
      text-align: center;
      padding-top: 1rem;
      a {
        text-decoration: underline;
        color: $text-color;
      }
    }
  }

  #right {
    flex: 1;
    font-family: $font-showcase;
  }
}
